.wraper {
  font-family: "Ubuntu";
  background-image: url(../img/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  color: white;
}
.sing-content {
  display: flex;

  gap: 24px;
  align-items: center;
}
.user-link:nth-child(3) {
  border-right: 1px solid #fff;
  padding-right: 24px;
}
.page-txt {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  margin-right: 79px;
}
.page-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
  margin-left: 79px;
  transition: 0.5s;
}
.sing-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  transition: 0.5s;
}
.page-title:hover,
.sing-link:hover {
  color: #329964;
}

.header-icon {
  fill: #fff;
  transition: 0.5s;
}
.header-icon:hover {
  fill: #329964;
}
/* ===================== */
.page-main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 62px);
}
.form-content {
  background-color: white;
  flex-direction: column;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 31px 60px 28px 60px;
  position: relative;

  width: 444px;
}
.form-title-bloc {
  display: flex;
  justify-content: space-between;
}
.form-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #434343;
  margin-top: 0;
  margin-bottom: 0;
}

.form-title::before {
  content: "";
  background-color: #329964;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: 0;
}
.form-sign-link {
  text-decoration: none;
  color: #3cb878;
}
.form-sign-link:hover {
  text-decoration: underline;
}
.form-social {
  display: flex;
  justify-content: space-between;

  padding-top: 15px;
  gap: 5px;
  margin-bottom: 37px;
}
.social-btn {
  width: 160px;
  display: flex;
  align-items: center;
  color: white;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
}

.fb-btn {
  padding-left: 66px;
  background-color: #29509e;
  background-image: url(../img/F.png);
  background-repeat: no-repeat;
  background-position: 15px;
}
.fb-btn:hover {
  background-color: #022263;
}
.ggl-btn {
  background-color: #df4a32;
  background-image: url(../img/G.png);
  background-repeat: no-repeat;
  padding-left: 80px;
  background-position: 15px;
}
.ggl-btn::before {
  content: "";
  background-color: #2b0d09;
  opacity: 0.1;
  height: 28px;
  width: 1px;
  position: relative;
  right: 30px;
}
.fb-btn::before {
  content: "";
  background-color: #2b0d09;
  opacity: 0.1;
  height: 28px;
  width: 1px;
  position: relative;
  right: 18px;
}
.ggl-btn:hover {
  background-color: #ab1f09;
}

.form-input {
  width: 322px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-top: 15px;
  padding-left: 20px;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.or {
  margin: 0;
  text-align: center;
  opacity: 0.1;
}
.or::before,
.or::after {
  content: "";
  width: 152px;
  height: 1px;
  background-color: black;
  display: inline-block;
  margin-bottom: 4px;
}
.create-btn {
  margin-top: 20px;
  border-radius: 4px;
  width: 324px;
  height: 46px;
  border-style: none;
  background-color: rgba(60, 184, 120, 0.8);
  color: white;
  cursor: pointer;
}
.create-btn:hover {
  background-color: #01813f;
}
.checkbox {
  margin-bottom: 26px;
}
.agree {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 470px;
  left: 62px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  appearance: none;
}

.agree_text {
  position: absolute;
  width: 241px;
  height: 20px;
  left: 90px;
  top: 470px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #434343;
}

.agree_text:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/checkbox.svg);

  position: absolute;
  top: 2px;
  left: -25px;
  opacity: 0;
}

.agree:checked + .agree_text:before {
  opacity: 1;
  background-image: url(../img/checkbox2.svg);
  background-repeat: no-repeat;
}

.agree_text_span {
  color: #3cb878;
  cursor: pointer;
}
.agree_text_span:hover {
  color: #01813f;
  text-decoration: underline;
}

.create_button {
  position: absolute;
  width: 324px;
  height: 46px;
  left: 60px;
  top: 510px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;

  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border-radius: 4px;
  border: none;
}

.create_button:hover {
  background: #01813f;
  transition: 1s;
}
